* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  height: 100%;
}
body {
  margin:0;
  color:#545c5f;
  font:12px "Trebuchet MS", Helvetica, sans-serif;
  background:/*#dfe6e9*/ #fff;
  min-width:1000px;
  min-height: 100%;
  position: relative;
}
ul {
  list-style: none;
}
img {
  border-style:none;
  display:block;
}
a {
  text-decoration:none;
  color:#b7b7b7;
  outline:none;
}
a:hover {text-decoration:underline;}
input, textarea, select {
  font:100% "Trebuchet MS", Helvetica, sans-serif;
  vertical-align:middle;
  color:#626667;
  outline:none;
}
form, fieldset {
  margin:0;
  padding:0;
  border-style:none;
}
.wrap{
  width:100%;
}
