/* main */
#content #page-name {
  color: #000;
  margin-bottom: 25px;
}
.gallery{
  list-style:none;
  margin: 0;
  padding: 0;
  position:relative;
}
.gallery .addtocart {
  float: right;
}
.gallery li{
  display:inline-block;
  width:250px;
  height: 200px;
  vertical-align:top;
  /*! outline: 1px solid #ccc; */
  margin-bottom: 35px;
  margin-right: 22px;
}
.gallery h3{
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  color: #2e3536;
  height: 23px;
  overflow: hidden;
}
.gallery h3 a{color:#2079A5;}
.gallery h3 a:hover{
  color: #e53100;
  text-decoration:none;
}
.gallery li .image{
  width: 220px;
  height: 190px;
  overflow:hidden;
  margin: 0 auto;
}
.gallery .price{
  font-weight:bold;
  color:#000;
  padding-top: 3px;
  display: inline-block;
}
.gallery .buy {
  float: right;
  font-weight:bold;
  color:#000;
  background: none;
  border: none;
  padding: 0 6px 3px 6px;
}
.gallery .buy:hover {
  text-decoration: underline;
  background-color: #575757;
  color: #fff;
  cursor: pointer;
}
.prod_image {
  height: 300px;
}
/* main end */
